## Simulate data for the population
Get the 10% of the actual population as a representative sample

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 4th cast: miners and farmers

The reason behind choosing this specific distribution is explained in more depth in the Obsidian notes. 
Short: Brazilian favelas have the median age of 30, which is same for the entire population of El Salvador, which is the closest I could get to favela population. 
I calculate the variance of the distribution using El Salvadors age pyramid data from US Census Bureau dataset.

In [75]:
def avg(x, y):
    return (x + y) / 2

women, men = 0.517, 0.483
divider = 6800000
sample_size = int((35200 + 28000) * 0.015)

bins = np.array([19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 90])
probs = np.array([avg(0.043, 0.041), 
                  avg(0.045, 0.043), avg(0.047, 0.047), avg(0.044, 0.045), avg(0.036, 0.039), avg(0.030, 0.034), 
                  avg(0.026, 0.032), avg(0.022, 0.028), avg(0.017, 0.025), avg(0.015, 0.021), avg(0.012, 0.017),
                    avg(0.009, 0.013), avg(0.007, 0.009), avg(0.005, 0.006)])
probs = probs / probs.sum() 

def sample_from_bins(n_samples):
    bin_indices = np.random.choice(len(probs), size=n_samples, p=probs)
    
    samples = np.random.uniform(bins[bin_indices], bins[bin_indices+1])
    return samples

samples = sample_from_bins(sample_size)
cast4_age_df = pd.DataFrame(np.round(samples, 0).astype('int'), columns=['age'])
cast4_age_df.head()

   age
0   30
1   24
2   32
3   19
4   30

   age
0   38
1   46
2   22
3   46
4   87